* {
  margin: 0;
  padding: 0;
}

:root {
  --text: black;
  --text2: rgb(85, 85, 85);
  --text3: rgb(126, 126, 126);
  --navbar-bg: hsl(0, 0%, 100%);
  --main-bg: hsl(0, 0%, 100%);
  --box-shadow: 0px 0px 10px #b8b8b8d5;
}

html[data-color="dark"] {
  --text: rgb(255, 255, 255);
  --text2: rgb(179, 179, 179);
  --text3: rgb(126, 126, 126);
  --navbar-bg: hsl(209, 23%, 22%);
  --main-bg: hsl(207, 26%, 17%);
  --box-shadow: 0px 0px 10px #141414d5;
}

body {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--main-bg);
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 20px 30px;
  align-items: center;
}

/* Navigasyon */
nav {
  box-shadow: var(--box-shadow);
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.toggleArea {
  display: flex;
  gap: 5px;

  position: relative;
}
.toggleCheckBox {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  width: 100px;
  height: 30px;
  opacity: 0;
  cursor: pointer;
}

.title {
  color: var(--text);
}

.toggleText {
  font-weight: bold;
  color: var(--text);
}

.dark {
  color: white;
}
/* Navigasyon */

/* Arama İşlemleri */
.searchArea {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.searchBox {
  display: flex;
  border-radius: 5px;
  max-width: 400px;
  padding: 20px 30px;
  gap: 30px;
  align-items: center;
  box-shadow: var(--box-shadow);
  background-color: var(--navbar-bg);
}

.searchIco {
  cursor: pointer;
}

#searchInput {
  border: 0;
  outline: 0;
  width: 100%;
  background-color: var(--navbar-bg);
}

.dark ~ #searchInput::placeholder {
  color: white;
}

.filterPlaceHolder {
  display: flex;
  border-radius: 5px;
  padding: 15px 30px;
  gap: 30px;
  align-items: center;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  width: 200px;
  background-color: var(--navbar-bg);
  justify-content: space-between;
  color: var(--text);
}

.filterText{
  font-weight: 500;
}


.card img {width: 100%;
  height: 180px;
 
  object-fit: cover;
}
.filterDiv {
  display: none;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px 30px;
  gap: 10px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  margin-top: 3px;
  z-index: 2;
  position: relative;
  background-color: var(--navbar-bg);
  width: 200px;
  color: var(--text);
}

.showOption {
  display: flex;
}
/* Arama İşlemleri */

/* Grid Yapısı */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.card {
  border-radius: 5px;
  background-color: var(--navbar-bg);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  overflow: hidden;
}

.cardTitle{
  font-weight: bold;
  padding: 0 20px;
  margin-top: 10px;
  color: var(--text);
}

.cardDetails {
  padding: 20px;
}

.cardDetails p {
  margin-top: 10px;
  color: var(--text2);
  font-size:14px;
}

.countryDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  align-items: center;
}
.detailDivFlex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}
.detailDivFlex .col p {
  margin-bottom: 10px;
  color: var(--text2);
}
.detailImg {
  margin-top: 50px;
}
.btnBack{
  background-color: var(--navbar-bg);
  color: var(--text);
  padding: 10px 30px;
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.detailTitle {
  color: var(--text);
}

.borders {margin-top:30px;}
.borderTitle {font-weight: bold;color:var(--text);}
.bCountry {  background: hsl(209, 23%, 22%);
  color: #fff;
  border-radius: 2px;
  margin: 2px;
  padding: 10px;
  outline: none;
  border: none;}


strong {
  color:var(--text);
}
/* Grid Yapısı */

@media (max-width: 1000px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .countryDetails {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
    align-items: center;
  }
  .detailImg {
    padding: 0 100px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px 30px;
  }

  .searchArea {
    flex-direction: column;
    gap: 30px;
    height: auto;
  }
  .detailImg {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .countryDetails {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    align-items: center;
  }
  .detailDivFlex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
    gap: 50px;
  }
  .borderTitle {
    font-weight: bold;
    color: #fff;
    width: 100%;
    display: block;
  }
}
